<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefono</ion-label>
    <ion-input [(ngModel)]="phone" type="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contrasena</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Rol</ion-label>
    <ion-select [(ngModel)]="role">
      <ion-select-option value="user">Usuario</ion-select-option>
      <ion-select-option value="health">Salud</ion-select-option>
      <ion-select-option value="company">Empresa</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Idioma</ion-label>
    <ion-select [(ngModel)]="locale">
      <ion-select-option value="es">Espanol</ion-select-option>
      <ion-select-option value="en">Ingles</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="submit()" [disabled]="loading">
    {{ loading ? 'Registrando...' : 'Registrar' }}
  </ion-button>

  <p class="success" *ngIf="successMsg">{{ successMsg }}</p>

  <div class="errors" *ngIf="errors | keyvalue as errs">
    <p *ngFor="let err of errs">{{ $any(err.value)[0] }}</p>
  </div>

  <ion-button fill="clear" routerLink="/login">Volver a login</ion-button>
</ion-content>
